<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.tecsup.jfabian.laboratoriocalificado3">

    <application


        android:name="com.orm.SugarApp"


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="DATABASE"
            android:value="practica3.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="pe.edu.tecsup.jfabian.laboratoriocalificado3" />


        <activity android:name=".vistas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vistas.Detalle" />
        <activity android:name=".vistas.Registrar" />
        <activity android:name=".vistas.RegistrarNotas" />
        <activity android:name=".vistas.VistaPrincipalNotas"></activity>
    </application>

</manifest>